# editor config
.vscode/*
!.vscode/cpp.json

# testing sources
test.py
test.cpp
Test.java

# Submission sources
submit.py
submit.cpp
Main.java
submit.rs

# compiled files
target/
submit
*.out
*.exe
*.class
submit
Cargo.lock

# input / output files
input.txt
output.txt
in
out

# solved problem list
solved
